services:
  sendy:
    image: marcelorodrigo/sendy:6.1.3
    ports:
      - "80:8080"
      - "443:8443"
    environment:
      SENDY_URL: "https://newsletters.example.com"
      MYSQL_HOST: "mysql"
      MYSQL_USER: "sendy"
      MYSQL_PASSWORD: "changeme"
      MYSQL_DATABASE: "sendy"
      # MYSQL_PORT: "3306"
      # MYSQL_CHARSET: "utf8mb4"
      # SENDY_COOKIE_DOMAIN: ""
    volumes:
      - sendy_uploads:/var/www/html/public/uploads
      # - ./locale:/var/www/html/public/locale  # Optional: provide custom translations (see LOCALE.md)
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: sendy
      MYSQL_USER: sendy
      MYSQL_PASSWORD: changeme
    volumes:
       - mysql_data:/var/lib/mysql

volumes:
  sendy_uploads:
  mysql_data:
